.formular-item{
    background-color: rgb(233, 233, 233);
    padding: 16px;
    margin: 16px;
    border: 2px solid black;
}

.formular-item h3{
    margin: 4px 0;
    font-size: 24px;
}

.formular-item-info{
    display: flex;
}

.formular-item-info-left{
    margin-right: 32px;
}
